body
{
    background-image:url(:images/fondo.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 8px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color:brown;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.Texto{
    color:black;
    text-align: center; /* Centrar el texto */
    background-color: beige;
}
.contain {
    padding: 20px;
}

.content {
    position: relative;
    margin-top: 20px; /* Asegura que el contenido tenga espacio debajo del título */
}

.top-right-text {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente opcional */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    max-width: 200px; /* Ajusta el ancho máximo según sea necesario */
    word-wrap: break-word; /* Permite que el texto se ajuste dentro del contenedor */
}
.btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #d14b5b; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer;
    border-radius: 5px; /* Borde redondeado */
    z-index: 1000; /* Z-index para asegurar que esté sobre otros elementos */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.btn:hover {
    background-color: #764762; /* Cambia el color de fondo al pasar el mouse */
}

.btn:active {
    background-color: #764762; /* Cambia el color de fondo cuando se presiona el botón */
}